.product-page .product-title {
    margin: 0 2em;
}

.product-page .product-title h1 {
    margin: 0;
}

.product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-image-container-solo {
    width: 50%;
    margin: 2em;
}

.product-price-and-button {
    width: 50%;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.product-description {
    text-align: right;
}

.product-price-and-button button {
    font-size: 16px !important;
    width: 40%;
    align-self: flex-end;
}

.product-price-and-button .product-price {
    align-self: flex-end;
}

p {
    text-align: left;
}
textarea{
    text-align: left;
}

/*  */

@media (max-width: 1003px) {
    .product-page {
        display: flex;
        flex-direction: column;
    }

    .product-details {
        flex-direction: column;
    }

    .product-page button {
        width: 70%;
        font-size: 14px !important;
    }

    .product-image-container-solo {
        margin-top: 10em;
    }
}

@media (max-width: 450px) {
    .product-details {
        margin-top: 2em;
    }
}