.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    margin: 2em;
    padding: 2em;
    border-radius: 10%;
    background-color: rgb(251, 215, 166);
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.product-card:hover {
    background-color: rgb(100, 65, 16);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-card h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

.product-image {
    width: 15em;
    height: 10em;
    border: 1px solid green;
    border-radius: 5%;
}

.price {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    text-align: end;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.action-buttons div {
    margin-left: 0.6em;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 40%;
    text-align: center;
}

.action-buttons div:hover {
    background-color: #e99c10;
}
