.product-page .product-title {
    margin: 0 2em;
}

.product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-image-container-solo {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2em;
}

.product-price-and-button {
    width: 50%;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.product-price-and-button button {
    font-size: 16px !important;
    width: 40%;
    align-self: flex-end;
}

.product-price-and-button .product-price {
    align-self: flex-end;
}