

.product-card { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    min-width: 10%;
    width: 300px;
    height: 300px;
    margin: 5% 5%;
    border: 3px solid #424C55;
    box-shadow: 10px 5px 5px black;
}

.add-product-btn {
    background-color: #424C55;
    align-items: center;
    color: purple;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}