:root{
   --hovertxt:rgba(242, 0, 255, 0.623);
}

.welcome {
   h1 {
      text-align: center;
      font-size:45px;
      font-style: italic;
      font-weight: bold;
      text-shadow: 1 1 5px black;
   }

   p {
      text-align: center;
      font-size: 25px;
   }

   .featured {
      display: flex;
      padding: 20px;
   }

   .highlight {
      width: 50%;
      padding: 20px;
      background-color: rgb(100, 65, 16);
      border-radius: 10px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
   }

   .highlight p {
      height: 5em;
   }

   .highlight-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20em;
      width: 100%;
      margin-bottom: 0.5em;

      &:hover{
         transform: scale(1.01);
         cursor: pointer;
      }
   }

   .highlight-image img {
      border-radius: 10px;
   }


   .seller {
      width: 50%;
      padding: 20px;
      border-radius: 10px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;

      &:hover{
         background-color: var(--hovertxt);
        
         transform: scale(1.05);
         cursor: pointer;
      }
   }

   .item {
      width: 50%;
      padding: 20px;
      background-color: var(--lightteal);
      border-radius: 10px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;

      &:hover{
         background-color: var(--hovertxt);
         transform: scale(1.05);
         cursor: pointer;
      }
   }
}
.dark {
   .highlight, .seller, .item {
      background-color: rgb(146, 87, 20);
      color: #fbd7a6;
   }
}

/* Medium devices (tablets, 768px - 991px) */
@media (max-width: 991px) {
   .welcome .featured {
      flex-direction: column;
      align-items: center;
   }
  
   .welcome .highlight {
     width: 80%;
   }

   .welcome .highlight-image {
      height: 9em !important;
      /* border: 2px solid green; */
   }
}

#LoginPlease {
   font-style: oblique;
   color: red;
}